##**Step-1: Install/ Import the required Python Packages/ Libraries, Mount the Google Drive and read and check the Data and Customer files**

**1) Install/ Import the required Python Packages/ Libraries**

In [62]:
#Import required python packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn.impute import SimpleImputer
from sklearn import preprocessing
from sklearn import svm
from sklearn.model_selection import cross_val_score
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

**2) Mounting the Google Drive**

In [63]:
# Mount the Google Drive
#from google.colab import drive
#drive.mount('/content/gdrive')

**3) Read the Data file and Customer file and check**

In [64]:
#train_df = pd.read_csv('gdrive/My Drive/Students-ML-Training-2023/Demo-Projects/02-Customers-Purchase-Prediction/Data-Files/Training_Data_for_Purchase_Prediction.csv')
#test_df = pd.read_csv('gdrive/My Drive/Students-ML-Training-2023/Demo-Projects/02-Customers-Purchase-Prediction/Data-Files/Customer_Data_for_Purchase_Prediction.csv')
train_df = pd.read_csv('D:/Muthu-Office/Indi-ML-Projects-2023/03-Ananconda-Projects/11_Customers_Purchase_Prediction/Data-Files/Train_Social_Network_Ads_Data.csv')
test_df = pd.read_csv('D:/Muthu-Office/Indi-ML-Projects-2023/03-Ananconda-Projects/11_Customers_Purchase_Prediction/Data-Files/Customer_Social_Network_Ads_Data.csv')

print(train_df.shape)
print(test_df.shape)

(350, 5)
(50, 4)

In [65]:
train_df['Purchased'].value_counts()

Purchased
0    243
1    107
Name: count, dtype: int64

In [66]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          350 non-null    int64
 1   Gender           350 non-null    object
 2   Age              350 non-null    int64
 3   EstimatedSalary  350 non-null    int64
 4   Purchased        350 non-null    int64
dtypes: int64(4), object(1)
memory usage: 13.8+ KB

In [67]:
train_df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

##**Step-2: Combine the Train and Test File**

In [68]:
train_df['train']=1
test_df['test'] = 0

In [69]:
print(train_df.shape)
print(test_df.shape)

(350, 6)
(50, 5)

In [70]:
train_df.info()
print()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          350 non-null    int64
 1   Gender           350 non-null    object
 2   Age              350 non-null    int64
 3   EstimatedSalary  350 non-null    int64
 4   Purchased        350 non-null    int64
 5   train            350 non-null    int64
dtypes: int64(5), object(1)
memory usage: 16.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          50 non-null     int64
 1   Gender           50 non-null     object
 2   Age              50 non-null     int64
 3   EstimatedSalary  50 non-null     int64
 4   test             50 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.1+ KB

In [71]:
train_df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  train
0  15624510    Male   19            19000          0      1
1  15810944    Male   35            20000          0      1
2  15668575  Female   26            43000          0      1
3  15603246  Female   27            57000          0      1
4  15804002    Male   19            76000          0      1

In [72]:
test_df.head()

    User ID  Gender  Age  EstimatedSalary  test
0  15800515  Female   38           113000     0
1  15591279    Male   37            75000     0
2  15587419  Female   42            90000     0
3  15750335  Female   37            57000     0
4  15699619    Male   36            99000     0

In [73]:
combined_df  = pd.concat([train_df, test_df])
combined_df.shape

(400, 7)

In [74]:
combined_df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  train  test
0  15624510    Male   19            19000        0.0    1.0   NaN
1  15810944    Male   35            20000        0.0    1.0   NaN
2  15668575  Female   26            43000        0.0    1.0   NaN
3  15603246  Female   27            57000        0.0    1.0   NaN
4  15804002    Male   19            76000        0.0    1.0   NaN

In [75]:
combined_df.tail()

     User ID  Gender  Age  EstimatedSalary  Purchased  train  test
45  15691863  Female   46            41000        NaN    NaN   0.0
46  15706071    Male   51            23000        NaN    NaN   0.0
47  15654296  Female   50            20000        NaN    NaN   0.0
48  15755018    Male   36            33000        NaN    NaN   0.0
49  15594041  Female   49            36000        NaN    NaN   0.0

##**Step-3: Check the Data Types of the Columns as well as Missing Data**

**1) Execute the "info()" command and check datatypes of the Columns and Missing Data**

In [76]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 0 to 49
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        350 non-null    float64
 5   train            350 non-null    float64
 6   test             50 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 25.0+ KB

##**Step-4: Check on Data Preprocessing applicability (Initial)**

###**1) Checking the Missing Values and its Handling**

**a) Check the Missing Values, if any**

In [77]:
combined_df.isnull().sum()

User ID              0
Gender               0
Age                  0
EstimatedSalary      0
Purchased           50
train               50
test               350
dtype: int64

In [78]:
combined_df.shape

(400, 7)

In [79]:
combined_df.drop_duplicates(inplace = True)
combined_df.shape

(400, 7)

In [80]:
combined_df["Purchased"].value_counts()

Purchased
0.0    243
1.0    107
Name: count, dtype: int64

##**Conclusion: It is a Multiple Classification with imbalanced Classes**

In [81]:
combined_df['User ID'].value_counts()

User ID
15624510    1
15767681    1
15589449    1
15791373    1
15688172    1
           ..
15675185    1
15792102    1
15722758    1
15745232    1
15594041    1
Name: count, Length: 400, dtype: int64

In [82]:
combined_df.drop(['User ID'], axis = 1, inplace = True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 400 entries, 0 to 49
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           400 non-null    object
 1   Age              400 non-null    int64
 2   EstimatedSalary  400 non-null    int64
 3   Purchased        350 non-null    float64
 4   train            350 non-null    float64
 5   test             50 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 21.9+ KB

In [83]:
combined_df['Gender'].value_counts()

Gender
Female    204
Male      196
Name: count, dtype: int64

In [84]:
le = preprocessing.LabelEncoder()
combined_df['Gender'] = le.fit_transform(combined_df.Gender.values)
combined_df['Gender'].value_counts()

Gender
0    204
1    196
Name: count, dtype: int64

##**Step-7: Seggregate the Train and Test Data**

In [85]:
train_df1 = combined_df[combined_df["train"] == 1]
test_df1 = combined_df[combined_df["test"] == 0]
train_df1.drop(["train", "test"], axis=1, inplace=True)
test_df1.drop(["test", "train", "Purchased"], axis=1, inplace=True)

In [86]:
train_df1.shape

(350, 4)

In [87]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 349
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           350 non-null    int32
 1   Age              350 non-null    int64
 2   EstimatedSalary  350 non-null    int64
 3   Purchased        350 non-null    float64
dtypes: float64(1), int32(1), int64(2)
memory usage: 12.3 KB

In [88]:
train_df1.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000        0.0
1       1   35            20000        0.0
2       0   26            43000        0.0
3       0   27            57000        0.0
4       1   19            76000        0.0

In [89]:
train_df1['Purchased'] = train_df1['Purchased'].astype(int)

In [90]:
train_df1.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [91]:
train_df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 350 entries, 0 to 349
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           350 non-null    int32
 1   Age              350 non-null    int64
 2   EstimatedSalary  350 non-null    int64
 3   Purchased        350 non-null    int32
dtypes: int32(2), int64(2)
memory usage: 10.9 KB

In [92]:
test_df1.shape

(50, 3)

##**Step-8: Slice X and y Values**

In [93]:
X = train_df1.drop(['Purchased'], axis = 1)
y = train_df1['Purchased']
X.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

In [94]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int32

In [95]:
X.columns

Index(['Gender', 'Age', 'EstimatedSalary'], dtype='object')

In [96]:
columnNames = ['Gender', 'Age', 'EstimatedSalary']

In [97]:
min_max_scaler_object = preprocessing.MinMaxScaler()
X1 = min_max_scaler_object.fit_transform(X)
X1 = pd.DataFrame(X1 , columns = columnNames)
X1.head()

   Gender       Age  EstimatedSalary
0     1.0  0.023810         0.029630
1     1.0  0.404762         0.037037
2     0.0  0.190476         0.207407
3     0.0  0.214286         0.311111
4     1.0  0.023810         0.451852

##**Step-9: Execute Train-Test-Split Command and Verify**

In [98]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size = 0.2, random_state = 66)

In [99]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(280, 3)
(280,)
(70, 3)
(70,)

In [100]:
X_train.head()

     Gender       Age  EstimatedSalary
13      1.0  0.333333         0.022222
170     1.0  0.071429         0.540741
84      0.0  0.285714         0.348148
57      1.0  0.238095         0.474074
7       0.0  0.333333         1.000000

In [101]:
y_train.head()

13     0
170    0
84     0
57     0
7      1
Name: Purchased, dtype: int32

##**Step-10: Learn the Data and Predict the dependent Variable values for the "X_test"data using "Random Forest Classifier" algorithm**

In [102]:
#from sklearn.ensemble import RandomForestClassifier
#rf_clf = RandomForestClassifier(n_estimators = 10, random_state = 0)
#rf_clf.fit(X_train, y_train)

In [103]:
from sklearn.linear_model import LogisticRegression
#create an instance and fit the model
logmodel = LogisticRegression()
logmodel1=logmodel.fit(X_train, y_train)

In [104]:
y_pred = logmodel.predict(X_test)
y_pred

array([1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0])

In [105]:
accuracy_lr = logmodel.score(X_test, y_test)
print("Accuracy of Logistic Regression on test set:",accuracy_lr)

Accuracy of Logistic Regression on test set: 0.7428571428571429

##**Step-11: Calculate the Accuracy of the Model**

In [106]:
#rf_clf_Train_acc = rf_clf.score(X_train,y_train)
#rf_clf_Test_acc=rf_clf.score(X_test,y_test)

In [107]:
#print('Accuracy on training set:',rf_clf_Train_acc)
#print('Accuracy on test set:',rf_clf_Test_acc)

##**Step-12: Display the Confusion Matrix and Classification Report of the Model**

In [108]:
#predictions
y_pred = logmodel.predict(X_test)

In [109]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[38  1]
 [17 14]]
              precision    recall  f1-score   support

           0       0.69      0.97      0.81        39
           1       0.93      0.45      0.61        31

    accuracy                           0.74        70
   macro avg       0.81      0.71      0.71        70
weighted avg       0.80      0.74      0.72        70

##**Step-13: RFC Algorithm Parameters Fine Tuning using GridSearch CV Method**

In [110]:
#model_params = {
#    'random_forest': {
#        'model': RandomForestClassifier(),
#        'params' : {
#            'n_estimators': [1,5,10,100,200]
#        }
#    }
#}

In [111]:
#from sklearn.model_selection import GridSearchCV
#import pandas as pd
#scores = []

#for model_name, mp in model_params.items():
#    clf =  GridSearchCV(mp['model'], mp['params'], cv=5, return_train_score=False)
#    clf.fit(X1, y)
#    scores.append({
#        'model': model_name,
#        'best_score': clf.best_score_,
#        'best_params': clf.best_params_
#    })

#df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
#df

In [112]:
# Random Forest Classifier
#rfc_grid_acc = cross_val_score(RandomForestClassifier(n_estimators=100), X1, y, cv=5)
#print("rfc_grid_acc (CV_based) :", rfc_grid_acc)
#rfc_grid_acc_avg=np.average(rfc_grid_acc)
#print()
#print("rfc_grid_acc_avg : ", rfc_grid_acc_avg)

In [113]:
min_max_scaler_object = preprocessing.MinMaxScaler()
test_df2 = min_max_scaler_object.fit_transform(test_df1)
test_df3 = pd.DataFrame(test_df2 , columns = columnNames)
test_df3.head()

   Gender       Age  EstimatedSalary
0     0.0  0.083333         0.781513
1     1.0  0.041667         0.462185
2     0.0  0.250000         0.588235
3     0.0  0.041667         0.310924
4     1.0  0.000000         0.663866

In [114]:
#predictions for Customer Data
cust_data_pred = logmodel.predict(test_df3)

In [115]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          50 non-null     int64
 1   Gender           50 non-null     object
 2   Age              50 non-null     int64
 3   EstimatedSalary  50 non-null     int64
 4   test             50 non-null     int64
dtypes: int64(4), object(1)
memory usage: 2.1+ KB

In [116]:
test_df.drop(["test"], axis=1, inplace=True)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          50 non-null     int64
 1   Gender           50 non-null     object
 2   Age              50 non-null     int64
 3   EstimatedSalary  50 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

In [117]:
test_df["Predicted_Purchase_Decision"]=cust_data_pred
print(test_df.shape)
test_df.head()

(50, 5)

    User ID  Gender  Age  EstimatedSalary  Predicted_Purchase_Decision
0  15800515  Female   38           113000                            0
1  15591279    Male   37            75000                            0
2  15587419  Female   42            90000                            0
3  15750335  Female   37            57000                            0
4  15699619    Male   36            99000                            0

In [118]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   User ID                      50 non-null     int64
 1   Gender                       50 non-null     object
 2   Age                          50 non-null     int64
 3   EstimatedSalary              50 non-null     int64
 4   Predicted_Purchase_Decision  50 non-null     int32
dtypes: int32(1), int64(3), object(1)
memory usage: 1.9+ KB

In [119]:
test_df.head()

    User ID  Gender  Age  EstimatedSalary  Predicted_Purchase_Decision
0  15800515  Female   38           113000                            0
1  15591279    Male   37            75000                            0
2  15587419  Female   42            90000                            0
3  15750335  Female   37            57000                            0
4  15699619    Male   36            99000                            0

In [120]:
#from google.colab import files
#test_df.to_csv("gdrive/My Drive/Students-ML-Training-2023/Demo-Projects/02-Customers-Purchase-Prediction/Output-Files/Customer_Data_with_Purchase_Prediction_Values.csv", index = False)
test_df.to_csv('D:/Muthu-Office/Indi-ML-Projects-2023/03-Ananconda-Projects/11_Customers_Purchase_Prediction/Output-Files/Customer_Data_with_Purchase_Prediction.csv')

In [121]:
import pickle
#now you can save it to a file
#file = 'gdrive/My Drive/Students-ML-Training-2023/Demo-Projects/02-Customers-Purchase-Prediction/Pickle-File/ML_Model_Customer_Purchase_Prediction.pkl'
file = 'D:/Muthu-Office/Indi-ML-Projects-2023/03-Ananconda-Projects/11_Customers_Purchase_Prediction/Model/ML_Model_Customer_Purchase_Prediction.pkl'
with open(file, 'wb') as f:
    pickle.dump(logmodel1, f)

In [122]:
with open(file, 'rb') as f:
    k = pickle.load(f)

In [123]:
cy = k.predict([[1,	40,	100000]])
#5.1	3.5	1.4	0.2
print(cy)

[1]